@charset "UTF-8";

/*base*/
*,*::before,*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:'Poppins',sans-serif;
	font-style: 16px;
	color: #2b2b2b;
}

h1,h2,h3,p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

th,td {
	margin: 0;
	padding: 0;
}

a {
	color: #2b2b2b;
	text-decoration: none;
}

section {
	text-align: center;
}

/*全体*/
.content-wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.u-heading {
	position: relative;
	margin-bottom: 32px;
	padding-bottom: 24px;
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
}

.u-heading::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 40px;
	height: 1px;
	background: #2b2b2b;
	transform: translateX(-50%);
}

.u-text {
	padding-bottom: 40px;
	line-height: 1.8;
	letter-spacing: 1.4px;
}

/*header*/
.header {
	position: relative;
	width: 100%;
	height: 620px;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url('img/header.png');
	background-size: cover;
	text-align: center;
	color: #fff;
	font-family: myriad-pro, sans-serif;
}

.header-nav {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 64px;
}

.position-change{
	position: fixed;
	top: 0;
	z-index: 100;
}

.color-change{
	color: #2b2b2b;
	background: #ffffff;
	border-bottom: 1px solid #a0a0a0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-nav-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav-logo {
	font-size: 36px;
}

.hamburger-menu {
	position: relative;
	width: 32px;
	height: 64px;
	cursor: pointer;
}

.hamburger-menu-line,
.hamburger-menu-line::before,
.hamburger-menu-line::after,
.hamburger-menu-line_dummy{
	position: absolute;
	left: 0;
	display: block;
	width: 32px;
	height: 1px;
	background: #fff;
}

.hamburger-menu-line::before,
.hamburger-menu-line::after{
	content: '';
}

.hamburger-menu-line,
.hamburger-menu-line_dummy{
	top: 50%;
	transition: all .3s;
}

.active .hamburger-menu-line{
	transform: rotate(-45deg);
}

.active .hamburger-menu-line_dummy{
	transform: rotate(45deg);
}

.hamburger-menu-line::before {
	top: calc(50% - 8px);
	transition: all .3s;
}

.active .hamburger-menu-line::before{
	top: 50%;
	opacity: 0;
}

.hamburger-menu-line::after {
	top: calc(50% + 8px);
	transition: all .3s;
}

.active .hamburger-menu-line::after{
	top: 50%;
	opacity: 0;
}

.header-menu {
	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
	z-index: 100;
	height: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	background: rgba(255, 255, 255, .9);
	transition: all .3s;
}

.header-menu-item {
	padding: 0;
	line-height: 11vh;
	text-align: center;
	font-size: 18px;
	border-top: 1px solid #ccc;
}

.header-menu-item:last-of-type{
	border-bottom: 1px solid #ccc;
}

.height-change{
	height: calc(100vh - 64px);
}

.header-title {
	padding-top: 240px;
	font-size: 120px;
	font-weight: normal;
}

.header-title-sub {
	word-spacing: 4px;
}

.header-title-sub::before,
.header-title-sub::after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 2px;
	margin: 0 8px;
	background: #fff;
	vertical-align: middle;
}

.color-change span,
.color-change span::before,
.color-change span::after{
	background: #2b2b2b;
}


/*concept*/
.concept {
	width: 100%;
	padding: 80px 0;
	background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

/*work*/

.work {
	width: 100%;
	padding-top: 80px;
}

.work-contents {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	height: 1680px;
}

.work-content {
	width: 420px;
	padding-bottom: 80px;
	text-align: left;
	line-height: 1.8;
}

.work-content:nth-of-type(1) {
	order: 1;
}

.work-content:nth-of-type(2) {
	order: 3;
	margin-top: 120px;
}

.work-content:nth-of-type(3) {
	order: 2;
}

.work-content:nth-of-type(4) {
	order: 4;
}

.work-content-image {
	width: 100%;
	margin-bottom: 16px;
}

.work-content-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.work-content-text {
	letter-spacing: 1.5px;
}

/*florist*/

.florist {
	width: 100%;
	padding-top: 80px;
	background: linear-gradient(#ededed 60%, #fff 40%);
}

.persons-wrapper {
	display: flex;
	justify-content: space-between;
}

.person-wrapper {
	width: 300px;
	padding-bottom: 40px;
	text-align: left;
	line-height: 1.8;
	font-size: 0;
}

.florist-person-image {
	width: 100%;
	margin-bottom: 12px;
}

.florist-person-name {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.florist-person-text {
	font-size: 16px;
	letter-spacing: 1.5px;
}

/*shopinformation*/

.shopinformation {
	width: 100%;
	padding: 80px 0 120px;
}

.shopinformation-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopinformation-image {
	width: 50%;
}

.shopinformation-table {
	width: 45%;
	border-spacing: 16px;
	text-align: left;
	letter-spacing: 1.5px;
	line-height: 2;
}

.shopinformation-table-heading {
	width: 25%;
	border-right: 1px solid #a0a0a0;
}

tbody {
	vertical-align: inherit;
}

/*contact us*/

.contactus {
	width: 100%;
	padding: 80px 0;
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("img/contact_us.png");
	background-size: cover;
}

.btn-contact {
	position: relative;
	display: inline-block;
	width: 360px;
	height: 80px;
	padding-left: 40px;
	line-height: 80px;
	background: #fff;
	border: 1px solid #a0a0a0;
	font-size: 20px;
	letter-spacing: 2px;
}

.btn-contact::before,
.btn-contact::after {
	content: '';
	position: absolute;
	border-radius: 2px;
}

.btn-contact::before {
	top: 30px;
	left: 85px;
	width: 30px;
	height: 20px;
	border: 1px solid #2b2b2b;
}

.btn-contact::after {
	top: 21px;
	left: 90px;
	width: 20px;
	height: 20px;
	border-right: 1px solid #2b2b2b;
	border-bottom: 1px solid #2b2b2b;
	transform: rotate(45deg);
}

/*footer*/
.footer {
	width: 100%;
	text-align: center;
}

.footer-copy {
	line-height: 40px;
	letter-spacing: 1.4px;
}

/*レスポンシブ対応*/
/*全体*/
@media(max-width: 670px){

	body{
		font-size: 14px;
	}

	.content-wrapper{
		width: calc(100% - 32px);
		margin: 0 auto;
	}

	.u-heading{
		font-size: 28px;
	}

	.u-text{
		text-align: left;
		padding-bottom: 32px;
	}

	.u-display_pc{
		display: none;
	}

	/*header*/
	.header{
		height: 355px;
		padding-top: 0;
		background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('img/header.png') 50%;
		background-size: cover;
	}

	.header-nav{
		position: fixed;
		top: 0;
		z-index: 100;
	}

	.header-nav-logo{
		font-size: 24px;
	}

	.header-title{
		padding-top: 120px;
		font-size: 64px;
	}

	/*concept*/
	.concept{
		padding: 40px 0;
		background: linear-gradient(#fff 75%,#ededed 25%);
	}

	/*work*/
	.work{
		position: relative;
		padding: 40px 0;
	}

	.w-content-wrapper{
		overflow-x: auto;
		overflow-y: visible;
		-webkit-overflow-scrolling: touch;
	}

	.work-contents{
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: auto;
	}

	.work-content{
		width: 80vw;
		padding-bottom: 40px;
	}

	.work-content:not(:last-of-type){
		margin-right: 24px;
	}

	.work::before,
	.work::after{
		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 1px;
		background: #333333;
	}

	.work::before{
		bottom: 26px;
		left: 79%;
		overflow: hidden;
		transition: .3s ease-in-out;
	}

	.work::after{
		bottom: 30px;
		right:5%;
		transform: rotate(45deg);
		transition: .9s ease-in-out;
	}

	.arrow_display.work::before{
		width: 60px;
	}

	.arrow_display.work::after{
		width: 10px;
	}

	.work-content:nth-of-type(2){
		margin-top: 0;
	}

	.work-content-image{
		height: 200px;
		margin-bottom: 0;
		object-fit: cover;
	}

	/*Florist*/
	.florist{
		padding: 40px 0;
		background: #ededed 55%;
	}

	.florist-persons-wrapper{
		overflow-x: auto;
		overflow-y: visible;
		-webkit-overflow-scrolling: touch;
	}

	.florist-persons-wrapper::-webkit-scrollbar{
		width: 4px;
		height: 4px;
		border-radius: 8px;
	}

	.florist-persons-wrapper::-webkit-scrollbar-thumb{
		background: rgba(0, 0, 0, .15);
		border-radius: 8px;
	}

	.florist-persons-wrapper::-webkit-scrollbar-track-piece{
		background: rgba(0, 0, 0, .1);
		border-radius: 8px;
	}

	.persons-wrapper{
		display: inline-flex;
	}

	.person-wrapper{
		width: 80vw;
	}

	.person-wrapper:not(:last-of-type){
		margin-right: 24px;
	}

	.florist-person-image{
		width: 100%;
		margin-bottom: 12px;
	}

	.florist-person-name{
		font-style: 24px;
	}
	.florist-person-text{
		font-style: 16px;
		letter-spacing: 1.5px;
	}

	/*ShopInformation*/
	.shopinformation{
		padding: 40px 0;
	}

	.shopinformation-contents{
		display: block;
	}

	.shopinformation-image,
	.shopinformation-table{
		width: 100%;
	}

	/*ContactUs*/
	.contactus{
		padding: 40px 0 64px;
	}

	.btn-contact{
		width: 280px;
		padding-left: 50px;
	}

	.btn-contact::before{
		left: 45px;
	}

	.btn-contact::after{
		left: 50px;
	}
}
